:root {
  --red-color: tomato;
  --gray-color: silver;
}



body {
  font-family: arial, sans-serif;
}
.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}



.btn {
  padding: 7px 12px;

  border-radius: 3px;
  background-color: var(--red-color);
}



.main-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 0;
}

.main-title {
  margin-bottom: 30px;

  font-size: 35px;
  font-weight: bold;
}

.todo-add-form {
  display: flex;

  margin-bottom: 30px;
}
.todo-add-form__field {
  flex: 1 1 auto;
  padding: 5px 10px;
  margin-right: 10px;

  border:  2px solid var(--gray-color);
  border-radius: 3px;
}
.todo-add-form__btn {}

.todos-items {
  padding: 0 5px;
}
.todos-items__item {}

.item-todo {
  display: flex;
  align-items: center;

  padding: 20px 15px;

  background-color: #cccccc;
  border-radius: 3px;
}
.item-todo--checked .item-todo__text {
  text-decoration: line-through;
}
.item-todo:not(:last-child) {
  margin-bottom: 10px;
}
.item-todo__checkbox {
  margin-right: 15px;
}
.item-todo__text {
   margin-right: 15px;
}
.item-todo__delete {
  margin-left: auto;
}